{% extends 'app/base.html' %}

{% block contenido  %}

{% load crispy_forms_tags %}

<head>
    <title>TecnoHelp - Informacion de contacto</title>
</head>

<h2>Contactanos!</h2>

        <p>Casa central</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.385853074243!2d-70.79085948495025!3d-33.517352280754736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dd49e4b81b99%3A0xb01dc053be741152!2sSan%20Jaime%201460%2C%20Maip%C3%BA%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1607639303373!5m2!1ses-419!2scl" width="500" height="350" frameborder="0" style="border:0;margin-left: 50px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        <form action="" class="formulario_contacto" method="post">
           
            {% csrf_token %}

            {{ form | crispy }}
            <br>
            <button type="submit" id="btnEnviar" class="button">Enviar</button>
            

        </form>

        <table id="tablacontactos">
            
        </table>


{% endblock %}