{% extends 'app/baselog.html' %}

{% block contenido %}


<form class="formulario" action="index">
    <h1>Iniciar sesión</h1>
     <div class="contenedor">
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Correo Electrónico" required>
         </div>
         <div class="input-contenedor">
		 <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Contraseña" required>
         </div>
         <input type="submit" value="Inicio de sesión" class="button" >
         <p>Al registrarte podrás acceder a las mejores referencias tecnológicas.</p>
         <p>¿Aún no tienes una cuenta? <a class="link" href="registro">Regístrate </a></p>
     </div>
    </form>
{% endblock %}