{% extends 'app/baselog.html' %}
{% block contenido%}
{% load crispy_forms_tags %}
<form class="formulario" method="post">
	{% csrf_token %}
    <h1>Regístrate</h1>
     	<div class="contenedor">
     		<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input type="text" placeholder="Nombre Completo" required>
			</div>
			<div class="input-contenedor">
				<i class="fas fa-envelope icon"></i>
				<input type="text" placeholder="Correo Electrónico" required>
			</div>
			<div class="input-contenedor">
				<i class="fas fa-key icon"></i>
				<input type="password" placeholder="Contraseña" required>
			</div>
			<input id="myBtn" type="sumbit" value="Registrate" class="btn btn-success">
				<p>Al registrarte podrás acceder a las mejores referencias tecnológicas.</p>
				<p>¿Ya tienes una cuenta? <a class="link" href="login">Iniciar Sesión</a></p>
			
     	</div>
    </form>
{% endblock %}